@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
    /* box-shadow: none; */
}

.fonte {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: azure;
}

.fonteN { 
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: azure;
}

.fonte-B {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: azure;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ## Title Container ## */
.title-container{
    display: block;
    text-align: center;
    margin: 0 auto;
}
.title-container .title{
    color: #47046F;
    font-size: 60px;
}

/* ## Form Container ## */
.form-container{
    display: flex;
    flex-direction: column;
    background-color: #9169C1;
    color: beige;
    border-radius: 8px;
    margin: 0 auto;
    width: 260px;
    height: auto;
    padding: 0.875rem;
}

/* ## Form Container - Childs ## */
.form-title {
    color: #000;
    margin: 0.25rem;
    color: azure;
}
.form-container input{
    width: 86%;
    height: 1.25rem;
    color: #000;
    background: #fff;
    border: 1px;
    margin: 0.25rem;
    padding-left: 6px;
    border-radius: 20px;
    align-self:center;
}
.form-container button{
    display: block;
    height: 1.375rem;
    width: 5.625rem;
    align-self: center;
    background-color: #9169C1;
    border-radius: 32px;
    border: 1px solid #8351bb;
    margin: 16px;
    color: azure;
    font-weight: bold;
    transition: 0.7s;
}
.form-container button:hover{
    background-color: #47046F;  
}

/* ## Link Senha ## */
.fSenha{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8%;
    font-size: 11px;
    font-weight: 100;
    transition: .7s;
    text-decoration: none;
    align-self: baseline;
}
.fSenha:hover{
    font-weight: bold!important;
    color: #47046F;
}

/* ## Link Cadastro ## */
.cadastro{
    padding-top: 4px;
    font-size: 0.75rem;
}
.cadastroT{
    font-weight: bold;
    padding-top: 4px;
    font-size: 0.75rem;
}
.cadastro {
    /* padding-left: 2px ; */
    text-decoration: none;
    transition: 0.5s;
}
.cadastro:hover{
    /* padding-left: 0px!important; */
    font-weight: bold;
    color: #47046F;
}